body {
  font-family: sans-serif;
  line-height: 1.4;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

/* TLDP code blocks */
table {
  background-color: transparent !important;
}

pre.example, .programlisting {
  padding: 20px;
  font-size: 14px;
  background: rgba(0,0,0,0.05);
  font-family: Menlo, Monaco, "Courier New", Courier, monospace;
}
